.homePageSecondMainBlock{
    margin-top: 100px;
}
.title {
    background: linear-gradient(90deg, #FFFFFF 0%, #F30745 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content; 
    font-family: var(--font-montserrat-arm), sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-bottom: 58px !important;
  }