.homePageSecondMainBlock {
    margin-top: 100px;
}

.title {
    background: linear-gradient(90deg, #FFFFFF 0%, #F30745 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
    font-family: var(--font-montserrat-arm), sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-bottom: 58px !important;
}

.homePageSecondCards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 61px;
    margin-top: 82px;
    margin-bottom: 172px;

    .homePageSecondNormalCardsWall {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .homePageSecondNormalCards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        .productCardWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    .homePageSecondLittleCards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        .littleProductCardWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

.homePageSecondCardsWithWalls {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 738px;
    position: relative;
    gap: 70px;

    .homePageSecondCardWall {
        min-height: 738px;
        // height: 100%;
        width: 10%;
        max-width: 159px;
        background-color: #D9D9D9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        display: block;
    }

    .homePageSecondNormalCards {
        flex: 1;
        min-width: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        .productCardWrapperWithWalls {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

.homePageSecondLittleCard {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1368px) {

    .homePageSecondCardsWithWalls {
        width: 100%;
        gap: 50px;
    }
}

@media screen and (max-width: 1200px) {

    .homePageSecondLittleCards,
    .homePageSecondCardsWithWalls {
        width: 100%;
        gap: 40px;
    }
}

@media screen and (min-width: 576px) {
    .homePageSecondCards {

        .homePageSecondNormalCards,
        .homePageSecondLittleCards {
            grid-template-columns: repeat(2, 1fr);
        }

    }
}

@media screen and (min-width: 768px) {
    .homePageSecondCards {
        .homePageSecondNormalCards {
            grid-template-columns: repeat(3, 1fr);
        }

        .homePageSecondLittleCards {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .homePageSecondNormalCardsWall {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .homePageSecondCardsWithWalls {
        .homePageSecondNormalCards {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }
}

@media screen and (min-width: 992px) {

    .homePageSecondLittleCards,
    .homePageSecondNormalCards {
        gap: 25px !important;
    }

    .homePageSecondCardsWithWalls {
        .homePageSecondNormalCards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1200px) {
    .homePageSecondCardsWithWalls {
        .homePageSecondNormalCards {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .homePageSecondNormalCardsWall {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .homePageSecondLittleCards,
    .homePageSecondNormalCards {
        gap: 35px !important;
    }

    .homePageSecondCards {
        .homePageSecondNormalCards {
            grid-template-columns: repeat(4, 1fr);
        }

        .homePageSecondLittleCards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 30px;
        margin-bottom: 50px !important;
    }

    .homePageSecondCards {
        margin-top: 60px;
    }

    .homePageSecondCardsWithWalls {
        width: 100%;
        gap: 30px;

        .homePageSecondCardWall {
            width: 13%;
        }
    }

    .homePageSecondNormalCards {
        gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 27px;
        margin-bottom: 45px !important;
    }

    .homePageSecondCards {
        margin-top: 40px;
    }

    .homePageSecondCardsWithWalls {
        width: 100%;
        gap: 20px;

        .homePageSecondCardWall {
            width: 10%;
        }
    }
}

@media screen and (max-width: 440px) {
    .title {
        font-size: 23px;
        margin-bottom: 30px !important;
    }

    .homePageSecondCards {
        margin-top: 25px;
    }

    .homePageSecondCardsWithWalls {
        width: 100%;
        gap: 15px;

        .homePageSecondCardWall {
            display: none;
        }
    }
}