.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: hsl(var(--foreground));

  @media (min-width: 640px) {
    font-size: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 4rem;
  }
}

