.imageSliderContainer {
    position: relative;
}

.imageSliderWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.imageSliderShadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: none;
    z-index: 9;
    backdrop-filter: blur(3px);
}