.productCardContainer {
    height: 547px;
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &:before {
        transition: 0.5s all ease;
    }

    &:hover:before {

        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent;
        backdrop-filter: blur(10px);
        z-index: 3;

    }

    &:hover .productCardHidedContent {
        transform: scale(1);
        // .productCardContent {
        //     transform: scale(1);
        // }

        .productCardGet {
            justify-content: space-between;

            button {
                opacity: 1;
            }
        }

        .productCardHidedImg {
            opacity: 1;
        }

        .productCardContentTime {
            gap: 18px;
        }
    }

    &:hover .productCardContentVersion1 {
        transform: scale(1);

    }

    &:hover .productCardContentVersion2 {
        transform: scale(0.7);


    }

    .productCardMainImg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .productCardContentVersion1 {
        transform: scale(0.7);

    }

    .productCardContentVersion2 {
        transform: scale(1);
    }

    .productCardHidedContent {
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 11px;
        transition: 0.5s all ease;

        .productCardContent {
            width: 97%;
            // height: 40%;
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(30px);
            border-radius: 15px;
            padding: 20px 10px 16px 20px;
            transition: all 0.5s ease;

        }

        .productCardHidedImg {
            box-sizing: border-box;
            width: 50%;
            border-radius: 15px;
            opacity: 0;
            transition: 0.5s all ease;
        }

        .productCardContentTime {
            display: flex;
            flex-direction: column;
            gap: 18px;
            transition: 0.5s all ease;

            p {
                color: #000000;
                margin: 0 !important;
            }

            .productCardContentTime {
                font-size: 24px;
            }

            .productCardContentTimeTitle {
                font-size: 12px;
            }
        }

        .productCardGet {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                opacity: 0;
                transition: all 0.5s ease-in;
            }

            .productCardisActiv {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #F30745;
            }
        }
    }
}