.littleProductCardContainer {
    // max-width: 412px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    position: relative;

    .littleProductCardMainImg {
        width: 100%;
    }

    &:before {
        transition: 1.2s all ease;
    }

    &:hover {
        .littleProductCardHidedImg {
            top: 50%;
        }
    }

    &:hover:before {

        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent;
        backdrop-filter: blur(10px);
        z-index: 3;

    }

    .littleProductCardHidedImg {
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 100%;
        transition: 1.2s all ease;
        border-radius: 15px;
        z-index: 9;
    }
}