.productDetailTitle {
    color: #FFFFFF;
    font-family: var(--font-montserrat-arm);
    font-size: 25px;
    font-weight: 600;
}

.productDetailDescription {
    max-width: 1224px;
}

.productDetailAddress {
    width: 100%;

    iframe {
        width: 100%;
        max-height: 375px;
        border-radius: 25px;
    }
}
.productTimesBlock{
    display: flex;
    align-items: center;
    gap: 20px;
}
.ProductDetailNormalCards {
    width: 100%;
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    :global(.ant-col) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}