.productDetailTitle {
    color: #FFFFFF;
    font-family: var(--font-montserrat-arm);
    font-size: 25px;
    font-weight: 600;
}

.productDetailDescription {
    max-width: 1224px;
}

.productDetailAddress {
    width: 100%;

    iframe {
        width: 100%;
        max-height: 375px;
        border-radius: 25px;
    }
}