.productDetailFirstMainBlock{
    position: relative;
    width: 100%;
    height: 605px;
    .productDetailFirstBgImage{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}